<div class="news content__block" style="margin-left: auto; margin-right: auto; width: 100%;">
  <div class="news__image" style="height: 150px;">
    <img src="../../img/contacts.png">
  </div>
  <div class="news__name">
    Контакты
  </div>
</div>

<div class="contact__center">
  <div class="contact__center__left content__block">

    <div class="people__block">
      <div class="people_avatar">
        <img src="../../img/Chzhen.png">
      </div>
      <div class="people__text">
        <p> <u>Chzhen#5570 (или @crazymap4fun)</u> - основатель игры, который пишет ванильные правила.</p>
      </div>
    </div>

    <div class="people__block">
      <div class="people_avatar ishao">
        <img src="../../img/ishao.png">
      </div>
      <div class="people__text">
        <p> <u>ishao#6363</u> - главный разработчик сайта, администратор Discord-сервера и проверяющий DLC.</p>
      </div>
    </div>

    <div class="people__block">
      <div class="people_avatar">
        <img src="../../img/ggfm13.gif">
      </div>
      <div class="people__text">
        <p> <u>Ggfm13#1313</u> - администратор Discord-сервера</p>
      </div>
    </div>

    <div class="people__block">
      <div class="people_avatar">
        <img src="../../img/catffish.png">
      </div>
      <div class="people__text">
        <p> <u>catffish#3716</u> - младший администратор Discord-сервера, создатель Wiki.</p>
      </div>
    </div>

    <div class="people__block">
      <div class="people_avatar">
        <img src="../../img/spacecat.png">
      </div>
      <div class="people__text">
        <p> <u>КОСМОКОТ#5602</u> - сортирует DLC в систему.</p>
      </div>
    </div>

  </div>
  <div class="contact__center__right content__block">

    <div class="mes__block">
      <div class="mes__logo">
        <a href="https://paper-wars.fandom.com/ru/wiki/%D0%91%D1%83%D0%BC%D0%B0%D0%B6%D0%BD%D1%8B%D0%B5_%D0%92%D0%BE%D0%B9%D0%BD%D1%8B_%D0%92%D0%B8%D0%BA%D0%B8#.D0.9D.D0.B0.D0.B2.D0.B8.D0.B3.D0.B0.D1.86.D0.B8.D1.8F">
          <img src="../../img/wikia.png">
        </a>
      </div>
    </div>

    <div class="mes__block">
      <div class="mes__logo">
        <a href="https://discord.gg/RdXCJMB7Dg">
          <img src="../../img/discord.png">
        </a>
      </div>
    </div>

    <div class="mes__block">
      <div class="mes__logo">
        <a href="https://vm.tiktok.com/ZSJgQnhyu/">
          <img src="../../img/tiktok.png">
        </a>
      </div>
    </div>

  </div>
</div>
