<div class="homepage__all">
	<div class="left__hompage">
		<div class="content__block hompage__block">
			<img src="../../img/faqs.png" style="width: 100%;">
			<div class="hompage__name">
				FAQ
			</div>
		</div>
			
		<div class="content__block hompage__block">
			<div class="hompage__text">
				Q: Что это?
			</div>
			<div class="hompage__text">
				A: Бумажные войны - это настольная игра, в которую можно играть как одному, так и с друзьями. Возможности в ней ограничены только фантазией и потому здесь доступно любое развитие сюжета - возвышение и падение цивилизаций, масштабные войны, интриги, дипломатия и многое, многое другое. Но, тем не менее, как и в других хороших играх - здесь есть ряд небольших правил.
			</div>
		</div>

		<div class="content__block hompage__block">
			<div class="hompage__text">
				Q: Что нужно для того, чтобы начать играть в “бумажные войны”?
			</div>
			<div class="hompage__text">
				A: Ручка, карандаш и листочек в клеточку - это самое главное. Кроме того, могут понадобиться небольшие листки для заметок. Либо же, онлайн-доска Miro
			</div>
		</div>

		<div class="content__block hompage__block">
			<div class="hompage__text">
				Q: Могу ли я модифицировать правила?
			</div>
			<div class="hompage__text">
				A: Да, конечно. Действующие правила - это лишь набор рекомендаций для быстрого старта.
			</div>
		</div>

		<div class="content__block hompage__block">
			<div class="hompage__text">
				Q: А кто автор “бумажных войн”?
			</div>
			<div class="hompage__text">
				A: Автором “бумажных войн” является Чжен Артём, автор тикток канала Crazymap4fun
			</div>
		</div>

		<div class="content__block hompage__block">
			<div class="hompage__text" >
				Q: Где я могу найти правила этой игры?
			</div>
			<div class="hompage__text">
				A: <u><a href="https://docs.google.com/document/d/1eeJXyt9Q1wzz0UwTZZINlTXEfvASFzjJfRLfGZhw1BQ/edit#">По этой ссылке</a></u>
			</div>
		</div>

		<div class="content__block hompage__block">
			<div class="hompage__text" >
				Q: Как я могу добавить свое дополнение?
			</div>
			<div class="hompage__text">
				A: <u><a href="https://docs.google.com/forms/d/e/1FAIpQLSeNpVOFgEaHR2tHzqmIpogVTxnYg_FYsyUDt032gIjNpndRNA/viewform?usp=sf_link">Заполните эту форму</a></u>
			</div>
		</div>
	</div>

	<div class="right__hompage">
		<div class="content__block news">
			<div class="news__image">
				<img src="../../img/duel.jpg">
			</div>
			<div class="news__name">
				<a href="https://discord.gg/GXk2qQJj8M">Дуэльный клуб</a>
			</div>
		</div>
		<div class="content__block news">
			<img src="../../img/peoples.jpg" width="100%">
			<div class="news__name">
				Новички
			</div>
			<div class="news__text">
				1. BIP
			</div>
			<div class="news__text">
				2. ArtSerz
			</div>
			<div class="news__text">
				3. Draconchik
			</div>
		</div>
		<div class="content__block news">
			<img src="../../img/top3.jpg" width="100%">
			<div class="news__name">
				Топ-3
			</div>
			<div class="news__text">1. ishao (1662 ELO)</div>
			<div class="news__text">2. Yapik (1591 ELO)</div>
			<div class="news__text">3. hypdig (1538 ELO)</div>
		</div>
		<div class="content__block news">
			<img src="../../img/game.jpg" width="100%">
			<div class="news__name" style="font-size: 28px;">
				Последние игры
			</div>
			<div class="news__text"><div style="color: green;">Andrewant</div> vs Meyzik</div>
			<div class="news__text"><div style="color: green;">Yapik</div> vs Meyzik</div>
			<div class="news__text"><div style="color: green;">chefик</div> vs коляя273</div>
		</div>
	</div>

		</div>
	</div>
</div