<div class="content__block search__mods" id="div">
	<input type="text" class="form-control search__place" id="exampleFormControlInput1" placeholder="Поисковой запрос">
	
	<div class="flex__checkboxes">
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="science">
  			<label class="form-check-label" for="science">Science</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="resources">
  			<label class="form-check-label" for="resources">Resources</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="religion">
  			<label class="form-check-label" for="religion">Religion</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="politics">
  			<label class="form-check-label" for="politics">Politics</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="units">
  			<label class="form-check-label" for="units">Units</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="war">
  			<label class="form-check-label" for="war">War</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="rebalance">
  			<label class="form-check-label" for="rebalance">Rebalance</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="new">
  			<label class="form-check-label" for="new">New</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="global">
  			<label class="form-check-label" for="global">Global</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="map">
  			<label class="form-check-label" for="map">Map</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="sea">
  			<label class="form-check-label" for="sea">Sea</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="buildings">
  			<label class="form-check-label" for="buildings">Buildings</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="small">
  			<label class="form-check-label" for="small">Small</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="medium">
  			<label class="form-check-label" for="medium">Medium</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="large">
  			<label class="form-check-label" for="large">Large</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="mod">
  			<label class="form-check-label" for="mod">Mod</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="submod">
  			<label class="form-check-label" for="submod">Submod</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="independent">
  			<label class="form-check-label" for="independent">Independent</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="top">
  			<label class="form-check-label" for="top">Top</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="core">
  			<label class="form-check-label" for="core">Core</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="objects">
  			<label class="form-check-label" for="objects">Objects</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="disease">
  			<label class="form-check-label" for="disease">Disease</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="enemies">
  			<label class="form-check-label" for="enemies">Enemies</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="transport">
  			<label class="form-check-label" for="transport">Transport</label>
		</div>
		<div class="checkbox__container">
			<input class="form-check-input checkboxes" type="checkbox" value="" id="race">
  			<label class="form-check-label" for="race">Race</label>
		</div>
	</div>
	<div class="search__button">
		<button type="button" name="searchButton" class="btn btn-secondary" style="height: 60px; width: 150px;" ng-click="searchClick()"->Поиск</button>
	</div>
</div>