<div class="all__news">
	<div class="left__news">
		<div class="content__block news">
			<div class="news__image almeria">
				<img src="../../img/изображение_viber_2021-07-15_08-26-57.jpg">
			</div>
			<div class="news__name">
				Алмерия - все.
			</div>
			<div class="news__text">
				В своем недавнем видео crazymap4fun осветил войну Костеллы и Алмерии, которую Костелла начала из-за религиозных проблем в стране. В результате кровопролитной битвы Алмерия была аннексирована, в последствии из-за данного события образовалась третья религия - культ космоса.
			</div>
		</div>

		<div class="content__block news">
			<div class="news__image almeria">
				<img src="../../img/star.jpg">
			</div>
			<div class="news__name">
				Новый культ.
			</div>
			<div class="news__text">
				После кровопролитной войны между Алмерией и Кастеллой религиозный вопрос не остался закрытым, а даже еще хуже - бывшие жители Алмерии имели свою религию, поэтому в стране стало аж 3 религии - Культ Вечного Пламени, Луны и Солнца. Религии поделили территории между собой, но территории между столицей Костеллы и Алмерии оставались нейтральными, из-за чего в ней образовалась новая религия - Культ Космоса. Она впитала в себя лучшие качества Культа Луны и Культа Солнца. От Культа Солнца она забрала астрологию и кодексы, а от Культа Луны поклонение луне. Религия утверждает, что есть бог Солнца и Луны и ты в праве выбирать, кому поклоняться.
			</div>
		</div>
	</div>
	

	<div class="right__news">
		<div class="content__block news">
			<div class="news__image">
				<img src="../../img/3.jpg" style="top: -70px;">
			</div>
			<div class="news__name">
				Из грязи в князи
			</div>
			<div class="news__text">
				Недавно Andrewant одержал победу в дуэльном клубе над chefик, но для него это была не обычная победа. Благодарня ней он вошел в так называемую "зеленую зону" - топ-3 рейтинга. 
			</div>
			<div class="news__text">
				Начал свой путь он не больно удачно. Первые игры проиграл, очень долго шел на последнем месте. Изредка на одну игру поднимался в белую зону, но со следующей игрой вновь падал. Его рейтинг достиг рекордно низкого показателя - 1440 Elo в минимуме. Но он не отчаивался и продолжал играть с сильнейшими. Со временем он разработал тактику, испытав ее в неудачной игре с ishao, в которой его подловили на ошибке. Но, поняв свои ошибки, он достигал совершенства и в один момент победил топ-2 дуэльного клуба, опустив его до 4 места, а сам поднявшись до пятого. Следующей его игрой был реванш с catffish, который завершился ничьей. И вот, сыграв свой грандиозный следующий матч он поднялся на третье место, с чем мы его и поздравляем.
			</div>
		</div>
		<div class="content__block news">
			<div class="news__image">
				<img src="../../img/duels.jpg">
			</div>
			<div class="news__name">
				Дуэльный клуб
			</div>
			<div class="news__text">
				Не так давно в Discord-сервере появился "Дуэльный клуб" - это игры на рейтинг по DLC "Duels and more" или с просто DLC "Duels". Очки набираются взависимости от того, какого противника ты выиграл, или какому проиграл. То есть, проиграв более сильному вы потеряете меньшее количество очков, а выиграв большее, и наоборот. Так же существует три зоны - зеленая, белая и красная. Чем выше зона, тем больше очков вы при проигрыше потеряете.
			</div>
			<div class="news__text">
				Чтобы попасть в дуэльный клуб нужно сыграть одну игру по его правилам с участником клуба. Вне зависимости от результата вы будете зарегистрированны.
			</div>
		</div>
		<div class="content__block news">
			<div class="news__image dlc">
				<img src="../../img/dlc.jpg">
			</div>
			<div class="news__name">
				О дальнейшем развитии DLC
			</div>
			<div class="news__text">
				DLC - дополнения от пользователей, одобренные в Discord-сервере. В недавном времени их количество превысило 150 штук! И, из-за этого, искать их достаточно проблематично, поэтому в данный момент мы разрабатываем функцию на сайте, которая упростит сортировку.
			</div>
		</div>
	</div>
</div>