/*Обнуление*/
*,*:before,*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}

/*Стили для демонстрации*/

/*Общие стили*/
@font-face {
  font-family: Serif; /* Гарнитура шрифта */
  src: url(../img/ofont.ru_Times New Roman.ttf); /* Путь к файлу со шрифтом */
}
body {
  background-color: #2a2d30;
	font-family: Serif, 'Times New Roman';
	overflow-x: hidden;
}
.main {
	padding-top: 100px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1180px;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #fff;
  text-decoration: none; 
}
p {
	color: #ffffff;
}
header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #2f3336;
	z-index: 2;
}
.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}
.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0px 10px;
}
.header__list {
	display: flex;
	position: relative;
	z-index: 2;
}
.header__list li {
	list-style: none;
	margin-left: 20px;
}
.header__link {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
}
.header__logo {
	flex: 0 0 60px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	z-index: 3;
}
.header__logo img {
	max-width: 100%;
	display: block;
}
.header__burger {
	display: none;
}

.content__block {
	position: relative;
	background-color: #3f4244;
}

.contact__top p {
	font-size: 26px;
}

.contact__top {
	position: relative;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 60px;
	justify-content: center;
	align-items: center;
}

.contact__center {
	display: flex;
	position: relative;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.contact__center__left {
	width: 87%;
	display: flex;
	position: relative;
	flex-direction: column;
}
.contact__center__right {
	width: 10%;
	display: flex;
	position: relative;
	flex-direction: column;
	height: 320px;
}
.people__block {
	display: flex;
	position: relative;
	justify-content: flex-start;
	width: 100%;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.people_avatar img{
	position: relative;
	width: 100%;
	height: 100%
}
.people_avatar {
	flex: 0 0 90px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin-left: 3%;
}
.people__text {
	margin-right: 3%;
	margin-left: 3%;
	font-size: 20px;
}

.ishao {
	width: 70px;
}

.mes__block {
	display: flex;
	position: relative;
	justify-content: center;
	width: 100%;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.mes__logo img {
	position: relative;
	width: 100%;
	height: 100%;
}

.mes__logo {
	flex: 0 0 80px;
	overflow: hidden;
	position: relative;
	margin-left: 3%;
}

.all__news {
	position: relative;
	display: flex;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: calc(100vh - 120px);
	bottom: 0;
	justify-content: space-between;
}

.left__news {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 47%;
	overflow-y: scroll;
	overflow-x: hidden;
}
.right__news {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 47%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.news {
	position: relative;
	display: flex;
	margin: 10px 10px 10px 10px;
	width: 100%;
	flex-direction: column;
	align-items: center;
}
.news__image {
	position: relative;
	width: 100%;
	height: 180px;
	overflow: hidden;
}
.news__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.almeria img {
	top: -150px;
}
.dlc img{
	top: -50px;
}
.news__name {
	font-size: 24px;
	color: #ffffff;
	text-align: center;
	margin: 10px 10px 10px 10px;
}
.news__text {
	font-size: 18px;
	color:  #ffffff;
	margin: 10px 10px 10px 10px;
}

.right__news::-webkit-scrollbar, 
.left__news::-webkit-scrollbar { width: 0; }

.right__news,
.left__news {
	ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

.homepage__all {
	position: relative;
	display: flex;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: calc(100vh - 120px);
	bottom: 0;
	justify-content: space-between;
	flex-direction: row;
}

.left__hompage {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 65%;
	overflow-y: scroll;
	overflow-x: hidden;
}
.right__hompage {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 33%;
	overflow-y: scroll;
	overflow-x: hidden;
	
}
.hompage__block {
	position: relative;
	display: flex;
	margin: 10px 10px 10px 10px;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.right__hompage::-webkit-scrollbar, 
.left__hompage::-webkit-scrollbar { width: 0; }

.right__hompage,
.left__hompage {
	ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}
.hompage__image {
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.hompage__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.hompage__name {
	font-size: 24px;
	color: #ffffff;
	text-align: center;
	margin: 10px 10px 10px 10px;
}
.hompage__text {
	position: relative;
	font-size: 18px;
	color:  #ffffff;
	margin: 10px 10px 10px 10px;
}

@media(max-width: 1200px) {
	.main {
		width: 90%;
	}
	.people__text {
		font-size: 18px;
	}
}
