<div class="container">
	<div class="header__body">
		<a href="#" class="header__logo">
			<img src="/img/logo.png">
		</a>
		<div class="header__burger" ng-click="burgerClass()">
			<span></span>
		</div>
		<nav class="header__menu">
			<ul class="header__list">
				<li>
					<a href="" class="header__link">Дополнения</a>
				</li>
				<li>
					<a href="" class="header__link">Лучшие проекты</a>
				</li>
				<li>
					<a href="" class="header__link">Домашняя страница</a>
				</li>
				<li>
					<a href="" class="header__link">Новости</a>
				</li>
				<li>
					<a href="" class="header__link">Контакты</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
