<div class="container">
	<div class="header__body">
		<a href="#" class="header__logo" ng-click="close()">
			<img src="/img/logo.png">
		</a>
		<div class="header__burger" ng-click="burgerClass()">
			<span></span>
		</div>
		<nav class="header__menu deactive">
			<ul class="header__list">
				<li>
					<a href="#!/mods/" class="header__link" ng-click="close()">Дополнения</a>
				</li>
				<li>
					<a href="#!/best_projects/" class="header__link" ng-click="close()">Лучшие проекты</a>
				</li>
				<li>
					<a href="/" class="header__link" ng-click="close()">Домашняя страница</a>
				</li>
				<li>
					<a href="#!/news/" class="header__link" ng-click="close()">Новости</a>
				</li>
				<li>
					<a href="#!/contacts/" class="header__link" ng-click="close()">Контакты</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
